# Password for nuxt-auth-utils (minimum 32 characters)
NUXT_SESSION_PASSWORD=
# GitHub OAuth client ID
NUXT_OAUTH_GITHUB_CLIENT_ID=
# GitHub OAuth client secret
NUXT_OAUTH_GITHUB_CLIENT_SECRET=
# Vercel AI gateway key
AI_GATEWAY_API_KEY=
# Postgres database url
DATABASE_URL=

# OpenAI API Configuration
OPENAI_API_KEY=your_openai_api_key_here
OPENAI_PROJECT_ID=your_project_id_here

# DBVECTOR API Configuration
NUXT_PUBLIC_DBVECTOR_API_URL=http://localhost:8000
